In [1]:
pip install pyforest

Requirement already satisfied: pyforest in c:\users\hp\anaconda3\lib\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
data= pd.read_csv('D:/app/data.csv')

In [8]:
data

              x1            x2  y
0    -119.366669  1.150000e+02  1
1    -101.108044  9.777716e+01  1
2    -130.278658  1.067677e+02  1
3    -114.703415  1.011955e+02  1
4    -119.366669  1.150000e+02  1
...          ...           ... ..
2222   98.714112  8.964312e+01  0
2223   96.633331  9.100000e+01  0
2224   85.673940  1.038393e+02  0
2225   78.958862  7.860537e+01  0
2226  109.624009  1.000000e+08  0

[2227 rows x 3 columns]

In [9]:
data.shape

(2227, 3)

In [10]:
data.isna().sum() #count how many null values in x1,x2

x1    5
x2    3
y     0
dtype: int64

In [11]:
data.describe()

                x1            x2            y
count  2222.000000  2.224000e+03  2227.000000
mean     -4.818766  8.947626e+04     0.442299
std      74.939909  2.983323e+06     0.496771
min    -134.369160 -1.348761e+02     0.000000
25%     -71.757030 -8.012983e+01     0.000000
50%      -9.836555 -1.046151e+00     0.000000
75%      59.813962  6.389086e+01     1.000000
max     134.508687  1.000000e+08     1.000000

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2227 entries, 0 to 2226
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      2222 non-null   float64
 1   x2      2224 non-null   float64
 2   y       2227 non-null   int64
dtypes: float64(2), int64(1)
memory usage: 52.3 KB

In [13]:
data.dtypes

x1    float64
x2    float64
y       int64
dtype: object

###  Data preprocesssing method

In [14]:
from sklearn import preprocessing

In [15]:
label_encoder=preprocessing.LabelEncoder()

In [16]:
data['x1']=label_encoder.fit_transform(data['x1'])
data['x1'].value_counts()

75      8
1169    6
1730    5
223     5
338     5
       ..
583     1
585     1
587     1
589     1
0       1
Name: x1, Length: 1892, dtype: int64

In [17]:
data.isna().sum() #x1 null values should be zero

x1    0
x2    3
y     0
dtype: int64

In [18]:
data['x2']=label_encoder.fit_transform(data['x2'])
data['x2'].value_counts()

668     7
198     7
129     6
1802    6
1174    6
       ..
575     1
577     1
579     1
581     1
0       1
Name: x2, Length: 1887, dtype: int64

In [19]:
data.isna().sum()#x2 null values should be zero

x1    0
x2    0
y     0
dtype: int64

In [20]:
data

        x1    x2  y
0       70  1802  1
1      208  1678  1
2       22  1745  1
3      101  1703  1
4       70  1802  1
...    ...   ... ..
2222  1704  1612  0
2223  1689  1624  0
2224  1608  1726  0
2225  1563  1533  0
2226  1770  1883  0

[2227 rows x 3 columns]

In [22]:
target = data['x1']
data = data.drop("x1",axis=1)

In [27]:
print(data.shape)
print(target.shape)

(2227, 2)
(2227,)

### Data Preparation - Train Test Split

### KNN

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, \
                                                   target, \
                                                   test_size = 0.25, \
                                                   random_state = 0)

In [29]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier()
classifier.fit(X_train, y_train)

KNeighborsClassifier()

In [30]:
y_pred = classifier.predict(X_test)

In [31]:
# calculate accuracy of class predictions
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred)

0.005385996409335727

### logistic regression

In [35]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train, y_train)

C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [36]:
y_pred = classifier.predict(X_test)

In [37]:
# calculate accuracy of class predictions
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred)

0.003590664272890485

### Decision treee

In [41]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(max_depth = 2)
classifier.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=2)

In [42]:
y_test_pred = classifier.predict(X_test)

In [43]:
from sklearn import metrics
metrics.accuracy_score(y_test, y_test_pred)

0.0017953321364452424

### SVM

In [44]:
from sklearn.svm import SVC
classifier = SVC()
classifier.fit(X_train, y_train)

SVC()

In [45]:
y_pred = classifier.predict(X_test)

In [46]:
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred)

0.003590664272890485